*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100vw;
    height: 100vh;
    background: url(wp4511654.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body{
    background: rgba(0, 0, 0, 0.326);
    backdrop-filter: blur(10px);
    width: 25%;
    height: 75%;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 30px rgb(12, 6, 24);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.screen{
    width: 100%;
    height: 18%;
    /* background-color: black; */
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.buttons{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
}

.b1{
    height: 85%;
    width: 70px;
    /* background-color: #00538C; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2{
    height: 100%;
    width: 162px;
    
    border-radius: 15px;
}

.button-color{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(195, 125, 82, 0.342);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bolder;
}
.button-color2{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(233, 94, 8, 0.578);
    background-color: rgba(195, 125, 82, 0.342);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bolder;
}

.screen{
    display: flex;
    justify-content: center;
}

.screen1{
    width: 90%;
    height: 100%;
    border-radius: 15px;
    flex-direction: row-reverse;
}
.result{
    width: 100%;
    height: 100%;
    /* background-color: rgba(240, 248, 255, 0.537); */
    background: rgba(232, 223, 223, 0.348);
    /* background-color: #1c8bd4fa; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.514);
    border: 3px solid rgb(135, 133, 133);
    box-shadow: 0px 0px 10px rgb(113, 113, 114);
    overflow-x:scroll;
}
::-webkit-scrollbar{
    height: 8px;
    margin: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 255, 255, 0.107);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(184, 228, 228, 0.547);
    border-radius: 10px;
}
@media (max-width:1500px){
    .calculator-body{
        height: 70%;
        width: 25%;
    }
}
@media (max-width:1400px){
    .calculator-body{
        height: 80%;
        width: 35%;
    }
}
@media (max-width:1200px){
    .calculator-body{
        height: 80%;
        width: 40%;
    }
}
@media (max-width:1000px){
    .calculator-body{
        height: 80%;
        width: 45%;
    }
}
@media (max-width:900px){
    .calculator-body{
        height: 80%;
        width: 50%;
    }
}
@media (max-width:800px){
    .calculator-body{
        height: 83%;
        width: 55%;
    }
}
@media (max-width:700px){
    .calculator-body{
        height: 83%;
        width: 60%;
    }
}
@media (max-width:600px){
    .calculator-body{
        height: 84%;
        width: 65%;
    }
}@media (max-width:500px){
    .calculator-body{
        height: 84%;
        width: 70%;
    }
}

@media (max-width:400px){
    .calculator-body{
        height: 85%;
        width: 75%;
    }
}
@media (max-width:300px){
    .calculator-body{
        height: 90%;
        width: 80%;
    }
}
@media (max-width:200px){
    .calculator-body{
        height: 92%;
        width: 85%;
    }
}